/* CSS Document */
/*==================================================
Common
==================================================*/
body {
  background: #101010;
}

#container {
  display: block;
  width: 80%;
  margin: 0 auto;
  color: #ffffff;
  line-height: 1.6;
  background: #595959;
}

/*TextLink
--------------------*/
a:link {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: #ffffff;
}

a:hover {
  opacity: 0.7;
}

a:visited {
  color: #ffffff;
}

header {
  width: 100%;
  background: #191919;
}

header h1 img {
  display: block;
  margin: 0 auto;
}

nav {
  background: #595959;
}

nav ul.main-menu-list {
  width: 100%;
  text-align: center;
  border-top: 3px solid #f4f4f4;
}

nav ul.main-menu-list li {
  display: inline-block;
  width: 23%;
}

nav ul.main-menu-list li a {
  display: block;
  padding: 14px 0;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

nav ul.main-menu-list li a:hover {
  color: #00053f;
}

#banner {
  width: 100%;
}

footer {
  width: 100%;
  margin: 40px auto 0;
  padding: 20px 0;
  background: #191919;
}

footer #copyright {
  text-align: center;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

h2 {
  margin: 40px 0;
  text-align: center;
  font-size: 32px;
}

/*
@font-face {
	font-family: ;
	src: url(.eot);
}
@font-face {
	font-family: ;
	src: url(.ttf) format("truetype");
}
@font-face {
	font-family: ;
	 src: url(.otf) format("opentype");
}
*/
/*==================================================
Top
==================================================*/
#top .about {
  width: 90%;
  margin: 0 auto;
}

#top .about .about-wrap {
  display: flex;
  justify-content: center;
  vertical-align: top;
}

#top .about .about-wrap .about-wrap-video {
  width: 44%;
}

#top .about .about-wrap .about-wrap-video video {
  width: 90%;
  height: 250px;
  background: #fff;
}

#top .about .about-wrap .about-wrap-text {
  width: 44%;
}

#top .gallery {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#top .gallery ul {
  margin: 0 auto;
}

#top .gallery ul li {
  display: inline-block;
  width: 15.25%;
  margin: 0 4px;
}

#top .gallery ul li .thum {
  width: 100%;
  height: 120px;
  border: solid 4px #ffffff;
  object-fit: cover;
}

#top .gallery ul li .lightbox-target {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
  z-index: 300;
}

#top .gallery ul li .lightbox-target .container {
  margin: auto;
  position: absolute;
  top: 50vh;
  left: 50vw;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in-out;
  text-align: left;
  transform: translate3d(-50%, -50%, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#top .gallery ul li .lightbox-target .container img {
  max-height: 500px;
  border: solid 4px #ffffff;
}

#top .gallery ul li a.lightbox-close {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 400;
  color: #ffffff;
  font-size: 30px;
  text-shadow: 1px 0px 0px #7b7b7b;
}

#top .gallery ul li .lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

#top .gallery ul li .lightbox-target:target img {
  vertical-align: top;
}

/*==================================================
Event
==================================================*/
#event h3 {
  margin: 40px 0;
  text-align: center;
  border-bottom: solid 1px #ffffff;
  font-size: 22px;
}

#event .the-titile-away {
  width: 90%;
  margin: 0 auto;
}

#event .the-titile-away .the-title-away-wrap-text {
  margin: 0 0 30px;
  text-align: center;
}

#event .the-titile-away .the-title-away-wrap-picture {
  margin: 0 auto 70px;
}

#event .the-titile-away .the-title-away-wrap-picture ul {
  text-align: center;
}

#event .the-titile-away .the-title-away-wrap-picture ul li {
  display: inline-block;
  width: 30%;
  margin: 0 10px;
  vertical-align: top;
}

#event .the-titile-away .the-title-away-wrap-picture ul li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#event .the-titile-away .rent-text {
  text-align: center;
}

/*==================================================
Menu
==================================================*/
#menu {
  width: 90%;
  margin: 0 auto;
}

#menu .menu-wrap {
  display: flex;
  justify-content: center;
}

#menu .menu-wrap .menu-wrap-item {
  width: 46%;
  margin: 0 20px;
  text-align: center;
}

#menu .menu-wrap h3 {
  margin: 0 0 20px;
  border-bottom: solid 1px #ffffff;
  font-weight: bold;
}

#menu .menu-wrap dl.menu-list dt {
  margin: 30px 0 0;
  font-weight: 800;
}

/*==================================================
Contact
==================================================*/
#contact .contact-wrap h3 {
  margin: 0 0 4px;
  border-bottom: solid 1px #ffffff;
  font-size: 22px;
}

#contact .contact-wrap .contact-list-content-item {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#contact .contact-wrap .contact-list-content-item dl dt {
  font-weight: 800;
}

#contact .contact-wrap .contact-list-content-item dl dd {
  margin: 0 0 30px;
}

#contact .contact-wrap iframe {
  margin: 40px 0 -50px;
  width: 100%;
}

/*==================================================
Responsive
==================================================*/
@media screen and (max-width: 980px) {
  nav ul.main-menu-list {
    border-top: solid 1px #ffffff;
  }
  nav ul.main-menu-list li {
    display: block;
    width: 100%;
    border-bottom: solid 1px #ffffff;
  }
  #top .about .about-wrap {
    display: block;
  }
  #top .about .about-wrap .about-wrap-video {
    width: 100%;
  }
  #top .about .about-wrap .about-wrap-video video {
    clear: both;
    width: 100%;
    margin: 0 0 20px;
  }
  #top .about .about-wrap .about-wrap-text {
    clear: both;
    width: 100%;
  }
  #top .gallery ul {
    text-align: center;
  }
  #top .gallery ul li {
    display: block;
    width: 100%;
    margin: 0 4px;
  }
  #event .the-titile-away .the-title-away-wrap-picture ul li {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  #menu .menu-wrap {
    display: block;
  }
  #menu .menu-wrap .menu-wrap-item {
    width: 100%;
    margin: 0 auto 46px;
  }
  #contact .contact-wrap .contact-list-content-item {
    width: 70%;
  }
}
