@charset "UTF-8";
/* CSS Document */

@mixin boxSizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin subTitle{
	margin: 40px 0;
	text-align: center;
	font-size: 32px;
}

$dummyColor: #595959;
$innerWidth: 90%;

/*==================================================
Common
==================================================*/
body{
	background: #101010;
}
#container{
	display: block;
	width: 80%;
	margin: 0 auto;
	color: #ffffff;
	line-height: 1.6;
	background: $dummyColor;
}
/*TextLink
--------------------*/
a:link{
	color: #ffffff;
	text-decoration: none;
}
a:active{
	color: #ffffff;
}
a:hover{
	opacity: 0.7;
}
a:visited{
	color: #ffffff;
}

header{
	width: 100%;
	h1{
		img{
			display: block;
			margin: 0 auto;
		}
	}
}
nav{
	ul.main-menu-list{
		width: 100%;
		li{
			display: inline-block;
			width: 23%;
			padding: 10px 0;
			text-align:center;
			cursor: pointer;
			@include boxSizing;
		}
	}
	ul.main-menu-sub-list{
		width: 100%;
		li{
			display: block;
			width: 100%;
			padding: 10px;
		}
	}
	.dropdown {
		position: relative;
		display: inline-block;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #5f5f5f;
		min-width: 23%;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
}

#banner{
	width: 100%;
}

footer{
	width: 100%;
	margin: 40px auto 0;
	padding: 20px 0;
	background: $dummyColor;
	#copyright{
		text-align: center;
	}
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
h2{
	@include subTitle;
}
main{
}
/*==================================================
Top
==================================================*/
#top{
	.about{
		width: $innerWidth;
		margin: 0 auto;
		.about-wrap{
			display: flex;
			justify-content: center;
			vertical-align: top;
			.about-wrap-video{
				width: 50%;
				video{
					height: 250px;
					background: #fff;
				}
			}
			.about-wrap-text{
				width: 50%;
			}
		}
	}
	.gallery{
		width: $innerWidth;
		margin: 0 auto;
		text-align: center;
		ul{
			margin: 0 auto;
			li{
				display: inline-block;
				width:  15.25%;
				margin: 0 4px;
				.thum{
					width: 100%;
					height: 120px;
					border: solid 4px #ffffff;
					object-fit: cover;
				}
				.lightbox-target {
					position: fixed;
					top: 0px;
					left: 0px;
					width: 100%;
					background: rgba(0, 0, 0, 0.7);
					width: 100%;
					opacity: 0;
					transition: opacity 0.5s ease-in-out;
					overflow: hidden;
					z-index: 300;
				}
				.lightbox-target .container {
					margin: auto;
					position: absolute;
					top: 50vh;
					left: 50vw;
					background-color: white;
					box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
					transition: 0.5s ease-in-out;
					text-align: left;
					transform: translate3d(-50%, -50%, 0);
					@include boxSizing;
					img{
						max-height: 500px;
						border: solid 4px #ffffff;
					}
				}

				a.lightbox-close{
					position: absolute;
					top: 10px;
					right: 20px;
					z-index: 400;
					color: #ffffff;
					font-size: 30px;
					text-shadow: 1px 0px 0px #7b7b7b;
				}

				.lightbox-target:target {
					opacity: 1;
					top: 0;
					bottom: 0;
				}

				.lightbox-target:target img {
					vertical-align: top;
				}
			}
		}
	}
}
/*==================================================
Event
==================================================*/


/*==================================================
Menu
==================================================*/


/*==================================================
Contact
==================================================*/



/*==================================================
Responsive
==================================================*/
@media screen and (max-width: 1019px){

}
@media screen and (max-width: 767px){
}